/* 버튼에 대한 스타일 모음
각 버튼의 타입에 따라, 클래스를 통하여 스타일을 적용합니다.
클래스의 경우, 버튼 컴포넌트의 props로 받도록 설게하였습니다. */
.button--signup {
  font-size: 16px;
  width: 380px;
  height: 48px;
  padding: 16px calc((380px - 362.75px) / 2);
  border-radius: 10px;
  box-sizing: border-box;
  border: none;
  background-color: #9e7373;
  color: white;
}

.button--start {
  font-size: 16px;
  width: 278px;
  height: 48px;
  box-sizing: border-box;
  padding: 16px calc((278px - 253.68px) / 2);
  border-radius: 10px;
  border: none;
  background-color: #743737;
  color: white;
}

.button--search {
  font-size: 16px;
  width: 74px;
  height: 50px;
  border-radius: 10px;
  border: none;
  background-color: #9e7373;
  color: white;
}

.button--small {
  width: fit-content;
  height: 25px;
  background-color: #d9d9d9;
  transition: 0.5s ease;
  border: none;
  color: white;
}

.button--small:hover {
  background-color: #743737;
  transition: 0.5s ease;
}

.button--ghost {
  width: 250px;
  height: 65px;
  font-size: 24px;
  background-color: transparent;
  border: 3px solid #743737 !important;
  border-radius: 10px;
  color: #743737;
  transition: 0.5s ease;
}

.button--ghost:hover {
  background-color: #743737;
  color: white;
  transition: 0.5s ease;
}
